{% extends "base.html" %}

{% block title %}About - {{ super() }}{% endblock %}

{% block content %}

<h3>About</h3>
<blockquote class="blockquote">
&ldquo;Act always as if the future of the universe depended on what you did, while laughing at yourself
for thinking that whatever you do makes any difference.&rdquo;
<div class="blockquote-footer">Mihaly Csikszentmihalyi</div>
</blockquote>

<section>
<h5>What is Spaceship Earth?</h5>

<p>Spaceship Earth is a project to empower individual action on climate change.
It enables teams to commit to concrete personal behavior changes that improve
environmental and community sustainability, such as eating a more plant-based
diet, reducing energy and resource use, and volunteering. We explain why these
particular actions are important, and we provide a structure to help folks take
these steps together and to see the positive effects.

<p>We think averting climate disaster will require behavior change from all of
us. We want to embody and inspire the changes we see as critical to humanity’s
long-term survival—and to support each other in this often-daunting effort.
We are trying to make a difference on climate change by helping as many individuals
as possible take relevant action: offering concrete steps, explaining why they are
important, providing infrastructure and tools for captains and teams to better
support individuals, and measuring and visualizing our collective impact as proof
and further motivation.
</section>

<section>
<h5>Why are we doing this?</h5>

<p>We see climate change as an existential threat to life on Earth that requires a
collective planet-wide response if humans are to continue thriving. Our civilization
drastically impacts the planetary ecosystem. Humans are struggling to understand the
full scope of these impacts and the possible outcomes for our future. Some are irreversible
and already destroying plant, animal, and human livelihoods. For others, we can still
change course&mdash;but that requires each one of us to reevaluate our engrained behavior
patterns and potentially do a lot of hard work. Common responses to this situation include:

<ul>
  <li>climate change is not a real problem,
  <li>the government/science/other people will take care of climate change,
  <li>my individual-scale actions won’t make any difference to climate change,
  <li>even if I wanted to, it’s too hard to change my behavior—where would I even start?
</ul>

<p>We are convinced that the first two statements are false. With this project, we want to
prove that individual actions can and do make a difference. We want to show you where and
how to start. It’s too late to be waiting for others to do something. This is the most important
and impactful thing we could think of to do for the planet, and we hope to inspire you to join us.
</section>

<section>
<h5>Who are we?</h5>

<p>We are a group of friends, mostly based in the San Francisco Bay Area.
</section>

<section>
<h5>How does this idea work?</h5>

<p>Anyone can sign up to be a captain for Spaceship Earth. To be a captain, recruit a crew of one
or more friends to join you. You will receive a month-long mission (e.g. the first one is to eat a
more plant-based diet) where success depends only on your crew’s ability to complete the mission
(e.g. eat less meat that month) in the real world. With each new mission, you see the impact of your
crew and all the other crews in equivalent tons of CO2 saved or other metrics based on the
best-available estimates. As you recruit more friends to join your crew—and especially as they
become captains themselves—we save more CO2, our collective positive impact grows, and Spaceship Earth
can fly a little further.

<p>It’s really hard to give up eating meat or frequent plane travel with zero understanding&mdash;and
sometimes with active criticism, ridicule, or opposition&mdash;from your friends, family, and extended
community. Default society encourages, glamorizes, and enforces behaviors like meat-eating and
flying&mdash;for example, through the cult of bacon, the tourism industry, social media, and status
signaling by foods you’ve tried or distant locations you’ve visited. We think behavior change is much
easier within a dedicated group to witness, encourage, support, and celebrate the collective positive
impact of our actions.
</section>

<section>
<h5>Why Spaceship Earth?</h5>

<ul>
  <li><em>&ldquo;I’ve often heard people say: &lsquo;I wonder what it would feel like to be on board a spaceship,&rsquo; and
        the answer is very simple. What does it feel like? That’s all we have ever experienced. We are all
        astronauts on a little spaceship called Earth.&rdquo;</em> — R. Buckminster Fuller
  <li>We think this metaphor from Buckminster Fuller best summarizes what motivates us in this project&mdash;
      that all of humanity is the crew of Spaceship Earth and all of us together, through our individual lives
      and choices, are responsible for its journey, its maintenance and flourishing.
</ul>
</section>

{% endblock %}
