{% extends "base.html" %}

{% block title %}About - {{ super() }}{% endblock %}

{% block content %}
<h3>About</h3>
<p>What is Spaceship Earth?
    <ul>
        <li>Spaceship Earth is a project to empower individual action on climate change.
            It enables teams to commit to concrete personal behavior changes that improve 
            environmental and community sustainability, such as eating a more plant-based 
            diet, reducing energy and resource use, and volunteering. We explain why these 
            particular actions are important, and we provide a structure to help folks take 
            these steps together and to see the positive effects.
        </li>
        <li>
            We think averting climate disaster will require behavior change from all of 
            us. We want to embody and inspire the changes we see as critical to humanity’s 
            long-term survival—and to support each other in this often-daunting effort.  
            We are trying to make a difference on climate change by helping as many individuals 
            as possible take relevant action: offering concrete steps, explaining why they are 
            important, providing infrastructure and tools for captains and teams to better 
            support individuals, and measuring and visualizing our collective impact as proof 
            and further motivation.
        </li>
    </ul>
</p>
<p>Why are we doing this?
    <ul>
        <li>We see climate change as an existential threat to life on Earth that requires a 
            collective planet-wide response if humans are to continue thriving. Our civilization 
            drastically impacts the planetary ecosystem. Humans are struggling to understand the 
            full scope of these impacts and the possible outcomes for our future. Some are irreversible 
            and already destroying plant, animal, and human livelihoods. For others, we can still 
            change course&mdash;but that requires each one of us to reevaluate our engrained behavior 
            patterns and potentially do a lot of hard work. Common responses to this situation include:
            <ul> 
                <li>climate change is not a real problem,</li>
                <li>the government/science/other people will take care of climate change,</li>
                <li>my individual-scale actions won’t make any difference to climate change,</li>
                <li>even if I wanted to, it’s too hard to change my behavior—where would I even start?</li>
            </ul>
            We are convinced that the first two statements are false. With this project, we want to 
            prove that individual actions can and do make a difference. We want to show you where and 
            how to start. It’s too late to be waiting for others to do something. This is the most important 
            and impactful thing we could think of to do for the planet, and we hope to inspire you to join us.
        </li>
    </ul>
</p>
<p>Who are we?
<ul><li>We are a group of friends, mostly based in the San Francisco Bay Area.</li></ul>
</p>
<p>How does this idea work?</p>
<ul>
    <li>Anyone can sign up to be a captain for Spaceship Earth. To be a captain, recruit a crew of one 
        or more friends to join you. You will receive a month-long mission (e.g. the first one is to eat a 
        more plant-based diet) where success depends only on your crew’s ability to complete the mission 
        (e.g. eat less meat that month) in the real world. With each new mission, you see the impact of your 
        crew and all the other crews in equivalent tons of CO2 saved or other metrics based on the 
        best-available estimates. As you recruit more friends to join your crew—and especially as they 
        become captains themselves—we save more CO2, our collective positive impact grows, and Spaceship Earth 
        can fly a little further.</li>
    <li>It’s really hard to give up eating meat or frequent plane travel with zero understanding&mdash;and 
        sometimes with active criticism, ridicule, or opposition&mdash;from your friends, family, and extended 
        community. Default society encourages, glamorizes, and enforces behaviors like meat-eating and 
        flying&mdash;for example, through the cult of bacon, the tourism industry, social media, and status 
        signaling by foods you’ve tried or distant locations you’ve visited. We think behavior change is much 
        easier within a dedicated group to witness, encourage, support, and celebrate the collective positive 
        impact of our actions.
    </li>
</ul>


{% endblock %}
