<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}Spaceship Earth</title>
  <meta name="description" content="Maintaining our home in the stars">
  <meta name="author" content="Igor Serebryany">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/png" href="/static/sship-bevel-152.png" />
  <link rel="apple-touch-icon-precomposed" href="/static/sship-bevel-152.png" />

  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/static/spaceship.css">
</head>

<body>

{% block navbar %}

{% macro render_nav_item(endpoint, text) %}
  <a
    class="nav-item nav-link {% if request.endpoint and request.endpoint == endpoint %}active{% endif %}"
    href="{{ url_for(endpoint, **kwargs) }}"
    >
    {{ text }}
  </a>
{% endmacro %}

<header>
  <div class="navbar navbar-default navbar-static-top navbar-expand-md navbar-light" role="navigation" aria-label="main navigation">
    {% if not current_user.is_anonymous %}
      {% set target = url_for('dashboard') %}
    {% else %}
      {% set target = '/' %}
    {% endif %}
    <a class="navbar-brand" href="{{ target }}">
      <img src="/static/sship-152.png" width="30" height="30" class="d-inline-block align-top" alt="Spaceship!">
      Home
    </a>

    <div class="navbar-nav mr-auto">
      {{ render_nav_item('about', 'About') }}
    </div>

    {% if current_user.is_anonymous %}
    <div class="navbar-nav ml-auto">
      {{ render_nav_item('login', 'Log In') }}
    </div>
    {% else %}
    <div class="navbar-item ml-auto">
      <div class="dropdown dropleft nav-item">
        <a role="button" class="dropdown-toggle" data-toggle="dropdown">
          <img src="{{ gravatar(current_user.email, size=30) }}" width="30" height="30" alt="Profile" class="d-inline-block align-top">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('profile', user_id=current_user.id) }}">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</header>
{% endblock %}

<main role="main">

<div class="container">
  {% block flash %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message['level']|default('warning') }} alert-dismissible fade show" role="alert">
      {{ message['msg'] }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  {% endblock %}

  {% block content %} {% endblock %}
</div>

</main>

<footer class="footer">
<div class="container">
<span class="text-muted text-center">Interested in helping out? <a class="text-reset" href="/contact">Contact us</a></span>
</div>
</footer>

{% block scripts %}
<!-- bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha384-fYxN7HsDOBRo1wT/NSZ0LkoNlcXvpDpFy6WzB42LxuKAX7sBwgo7vuins+E1HCaw" crossorigin="anonymous"></script>

<!-- some custom JS -->
<script src="/static/prevent-invalid-form-submit.js"></script>
<script src="/static/edit.js"></script>

{% endblock %}

</body>
</html>
