<div class="row">
{% for month in calendar %}
<div class="col-sm-6">
<table class="table border bg-white">
<thead>
<tr><th colspan=7>{{ month.name }}
<tr><th>Sun<th>Mon<th>Tue<th>Wed<th>Thu<th>Fri<th>Sat
</thead>
<tbody>
{% set column = cycler(0, 1, 2, 3, 4, 5, 6) %}
<tr>
{% for _ in range(month.days[0].of_week) %}
<td>{% set col = column.next() %}
{% endfor %}
{% for day in month.days %}
{% if column.next() == 0 %}<tr>{% endif %}
<td class="cal-week-{{day.week_number}}{% if day.is_today %} cal-today{% endif %}{% if day.is_this_week %} cal-this-week{% endif %}">{{ day.number }}
{% endfor %}
</tbody>
</table>
</div>
{% endfor %}
</div>
