<div class="modal email-composer" tabindex="-1" role="dialog" id="{% block emailModal %}{% endblock %}" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% block emailModalTitle %}{% endblock %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">To:</span>
          </div>
          <input type="text"
            placeholder="{% block emailAddresses %}{% endblock %}"
            class="form-control email-to-addresses">
        </div>
        <small class="text-muted">Enter one or more emails separated by spaces.</small>

        <div class="input-group mt-1 mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Subject:</span>
            </div>
            <input
            type="text"
            value="{% block subject %}{% endblock %}"
            data-default="{{ self.subject() }}"
            class="form-control email-subject">
        </div>

        <style>
        .email-editor {
          background: #fff;
          height: 300px;
        }
        .ql-toolbar {
          background: #efefef;
        }
        </style>

        <div class="email-editor">
        {% block message %}{% endblock %}
        </div>

        <br>

      </div>
      <div class="modal-footer">
          <button class="btn btn-primary email-send" data-endpoint="{% block endpoint %}{% endblock %}" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>
</div>



