
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">To:</span>
  </div>
  <input type="text" placeholder="bob@example.com mary@example.com" class="form-control" id="emails">

</div>
<small class="text-muted"">Enter one or more emails separated by spaces.</small>

<div class="input-group mt-1 mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Subject:</span>
    </div>
    <input id="subject"
    type="text"
    value="{% block subject %}{% endblock %}"
    data-default="{{ self.subject() }}"
    class="form-control">
</div>

<style>
.email-editor {
  background: #fff;
  height: 300px;
}
.ql-toolbar {
  background: #efefef;
}
</style>
<div id="email-editor" class="email-editor">
{% block message %}{% endblock %}
</div>

<br>
{# <button id="email-send" class="btn btn-primary" data-endpoint="{% block endpoint %}{% endblock %}">Send</button> #}
