{% from 'editable.html' import editable_text %}
{% extends "base.html" %}

{% block title %}Crew Nest - {{ super() }}{% endblock %}

{% block content %}

{% if team_size < 2 and False %}
<div class="help">
<p><b>Getting started</b>
<ol>
  <li>Use the <a href="#invite">Invite Crew</a> section to invite people to join your crew.
  <li>After people join, select a <a href="#missions">mission</a>.
</ol>
</div>
{% endif %}

<div class="row">
<h3 class="col">{{ editable_text(text=team.name,
                                 is_editable=is_captain,
                                 popup_title="Edit crew name",
                                 table="team", id=team.id, field="name") }}</h3>
</div>

<div class="row">
<div class="col">
<p>{{ editable_text(text=team.description,
                    is_editable=is_captain,
                    multiline=True,
                    popup_title="Edit crew description",
                    table="team", id=team.id, field="description") }}</p>
</p></div>
</div>

<hr/>

<div class="row">
<div class="col-sm-6">
<section class="missions">
  <a name="missions">
  <h4>Active Missions</h4>
    {% for mission in missions if mission.is_running %}
      <div style="border: 1px solid #ccc; padding:20px; margin-bottom:10px">
        <h5>{{ mission.title }} </h5>
        <p>{{ mission.short_description }}</p>
        <p>Started on {{ mission.start_time_str }}</p>
        {% if mission.mission_day() > 0 and mission.mission_day() < 7 %}
          Day {{mission.mission_day()}} of 7
        {% endif %}
      </div>
    {% else %}
      <div style="border: 1px solid #ccc; padding:20px; margin-bottom:10px">
        <h5>None yet</h5>
      </div>
    {% endfor %}
  <h4>Upcoming Missions</h4>
    {% for mission in missions if mission.is_upcoming %}
      <div style="border: 1px solid #ccc; padding:20px; margin-bottom:10px">
        <h5>{{ mission.title }} </h5>
        <p>{{ mission.short_description }}</p>
        <p>Will start on {{ mission.start_time_str }}</p>
      </div>
    {% else%}
      <div style="border: 1px solid #ccc; padding:20px; margin-bottom:10px">
        <h5>None yet</h5>
      </div>
    {% endfor %}
    <a href="{{ url_for('create_mission', team_id=team.id) }}" class="btn btn-primary btn-lg" role="button">Plan a mission</a>
  <h4>Completed Missions</h4>
    {% for mission in missions if mission.is_over %}
      <div style="border: 1px solid #ccc; padding:20px; margin-bottom:10px">
        <h5>{{ mission.title|e }} </h5>
        <p>{{ mission.short_description|e }}</p>
        <p>Completed on {{ mission.end_time_str }}</p>
      </div>
    {% else %}
      <div style="border: 1px solid #ccc; padding:20px; margin-bottom:10px">
        <h5>None yet</h5>
      </div>
    {% endfor %}
</section>
<section>
  <h4>Achievements</h4>
  {% if achievements %}
  {% for achievement in achievements %}
    {% include 'achievement.html' %}
  {% endfor %}
  {% elif is_captain %}
    <em>None yet&mdash;try planning a mission!</em>
  {% else %}
    <em>None yet...</em>
  {% endif %}
</section>
</div>

<div class="col-sm-6">
<section>
  <h4>Crew Members</h4>

  <table class="table table-borderless">
    <tbody>
    {% for user in crew: %}
      <tr>
        <td>
          <a href="{{ url_for('profile', user_id=user.id) }}">
            <img src="{{ gravatar(user.email, size=48) }}" width="48" height="48">
          </a>
        </td>
        <td style='vertical-align: middle'>{% if user.id == team.captain_id %}
              {{ user.name }} (Captain)
            {% else %}
              {{ user.name }}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

{% if is_captain %}

<!--
<section>
{% for invite in invitations: %}
  <div>
    {{ invite.invited_email }}
    {{ invite.status }}
    {{ invite.created_at }}
  </div>
{% endfor %}
</section>
-->

<section class="invite">
<a name="invite"></a>
<h4>Invite Crew</h4>
<form method="post" class="needs-validation" novalidate>
  {% for field in invite %}
  {% set errors = invite.errors[field.name] %}
  {% if field.flags.hidden %}
    {{ field(class="form-control") }}
  {% elif field.type == "SubmitField" %}
    {{ field(class="btn btn-primary") }}
  {% else %}
    {% if errors %}
    {% set class="form-control is-invalid" %}
    {% else %}
    {% set class="form-control" %}
    {% endif %}

    <div class="row">
      <span class="col">{{ field.label() }}</span>
    </div>
    <div class="row form-box">
      <span class="col">
      {{ field(class=class) }}
      <div class="invalid-feedback">
        {{ ';'.join(errors) }}
      </div>
      {{ field.description }}
      </span>
    </div>
  {% endif %}
  {% endfor %}
</form>
</section>

{% endif %}

</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function updateSectionHighlight() {
  var hash = location.hash;
  var invite = $('.invite');
  var missions = $('.missions');
  invite.removeClass('highlight-section');
  missions.removeClass('highlight-section');
  if (hash == '#invite') {
    invite.addClass('highlight-section');
  } else if (hash == '#missions') {
    missions.addClass('highlight-section');
  }
}

$(window).on('hashchange', updateSectionHighlight);
$(document).ready(updateSectionHighlight);
</script>

{% endblock %}