{% from 'editable.html' import editable_text %}
{% extends "base.html" %}

{% block title %}Crew Nest - {{ super() }}{% endblock %}


{% macro render_mission(mission) -%}
<div class="row mission">

  <div class="col-sm-2">
    {% if mission.is_running %}
        <div style="margin-bottom:0px"> Day {{mission.mission_day}} </div>
        <div style="font-size:14px; "> of {{ mission.duration_in_days}}</div>
    {% elif mission.is_upcoming %}
      T-MINUS<br/>
      {{mission.days_until_start}} days
    {% else %}
      COMPLETED<br/>
      {{ mission.start_time.format('MMMM Do') }}
    {% endif %}
  </div>

  <div class="col-sm-10">
    <h5 style="margin-bottom: 0px">{{ mission.title }} </h5>
    <div><b>Description</b>: {{ mission.short_description }}</div>
    <div><b>Primary Goal</b>: {{mission.primary_goal_str}}</div>
    {% if mission.is_running %}
      <!--button type="button" class="btn btn-link " data-toggle="modal" data-target="#inviteCrewModal">
          Email the crew
      </button-->
    {% elif mission.is_upcoming %}
      <div><b>Starts on</b>: {{mission.start_time.format('MMMM DO')}}</div>
      <div><b>Duration</b>: {{mission.duration_in_days}} days</div>
      <div class="mission-actions">
        <button type="button" class="btn btn-link " data-toggle="modal" data-target="#inviteCrewModal">
            Invite more crew members
          </button>
          <button data-mission-id={{mission.id}} type="button" class="btn btn-link mission-cancel">
            Cancel mission
          </button>
      </div>

    {% else %}
      <div> <span style='font-weight: bold'>CO2 Saved</span>: {{mission.co2_saved_str}}</div>
      <div class="mission-actions">
        <a class="btn btn-link" href="{{mission.report_url}}" onclick="alert('Report unavailable')" role="button">View mission report</a>
      </div>
    {% endif %}

  </div> 
</div>
{%- endmacro %}


{% block content %}

{% if team_size < 2 and False %}
<div class="help">
<p><b>Getting started</b>
<ol>
  <li>Use the <a href="#invite">Invite Crew</a> section to invite people to join your crew.
  <li>After people join, select a <a href="#missions">mission</a>.
</ol>
</div>
{% endif %}

<div class="row">
<h1 class="col">{{ editable_text(text=team.name,
                                 is_editable=is_captain,
                                 popup_title="Edit crew name",
                                 table="team", id=team.id, field="name") }}</h1>
</div>

<div class="row" style="display:none">
<div class="col">
<p>{{ editable_text(text=team.description,
                    is_editable=is_captain,
                    multiline=True,
                    popup_title="Edit crew description",
                    table="team", id=team.id, field="description") }}</p>
</p></div>
</div>

<div>
    {% if team_size == 1 %}
    {{ team_size }} crew member
    {% else %}
    {{ team_size }} crew members
    {% endif %}
</div>


<hr/>

<div class="row">
<div class="col-sm-8">
<div class="missions">

  {% if running_missions|length %}
    <div class="missions-section">
      <h3>Active Mission</h3>
      {% for mission in running_missions %}
        {{ render_mission(mission) }}
      {% else %}
        <div>
          <h5>None yet</h5>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="missions-section">
    <h3>Upcoming Missions</h3>
    {% for mission in upcoming_missions %}
      {{ render_mission(mission) }}
    {% else %}
      <a href="{{ url_for('create_mission', team_id=team.id) }}" class="btn btn-primary btn-lg" role="button">Plan a mission</a>
    {% endfor %}
  </div>
  
  {% if completed_missions|length %}
    <div class="missions-section">
      <h3>Completed Missions</h3>
      {% for mission in completed_missions %}
        {{ render_mission(mission) }}
      {% else %}
        <div>
          <p>None yet</p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
    
</div>

<section>
  <h4>Achievements</h4>
  {% if achievements %}
  {% for achievement in achievements %}
    {% include 'achievement.html' %}
  {% endfor %}
  {% elif is_captain %}
    <em>None yet&mdash;try planning a mission!</em>
  {% else %}
    <em>None yet...</em>
  {% endif %}
</section>
</div>

<div class="col-sm-4">
  <div style='border: 1px solid #9bc1bc; padding: 1rem'>
    <h4 style="margin-top: 0px;">Crew</h4>
    <h6>Captain</h6>    
    <div>
        <a href="{{ url_for('profile', user_id=captain.id) }}">
            <img src="{{ gravatar(captain.email, size=32) }}"  height="32">
        </a>
        <span style="font-size:1.25rem; vertical-align:middle;"> {{ captain.name }} </span>
    </div>

    <br/>
    {% if crew|length %}
      <h6>Crew Members</h6>    

      {% for user in crew: %}
            <a href="{{ url_for('profile', user_id=user.id) }}">
                <img src="{{ gravatar(user.email, size=32) }}"  height="32">
            </a>
      {% endfor %}
    {% endif %}
    <div style="padding-top:10px">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteCrewModal">
          Invite crew members
      </button>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="inviteCrewModal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Invite Crew</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {% include 'compose_invite_email.html' %}
            </div>
            <div class="modal-footer">
                <button id="email-send" class="btn btn-primary" data-endpoint="/invite/{{ team.id }}" data-dismiss="modal">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function updateSectionHighlight() {
  var hash = location.hash;
  var invite = $('.invite');
  var missions = $('.missions');
  invite.removeClass('highlight-section');
  missions.removeClass('highlight-section');
  if (hash == '#invite') {
    invite.addClass('highlight-section');
  } else if (hash == '#missions') {
    missions.addClass('highlight-section');
  }
}

$(window).on('hashchange', updateSectionHighlight);
$(document).ready(updateSectionHighlight);

$(".mission-cancel").click((e) => {
  if (confirm("Are you sure?")) {
    $.post('/mission/'+$(e.target).data('mission-id')+'/cancel').done((json) => {
      if (json['error']) {
          alert(json['error']);
      }
      window.location.reload();
    });
  }
});
</script>
{% endblock %}