{% from 'editable.html' import editable_text %}
{% extends "base_with_quill.html" %}

{% block title %}Crew Nest - {{ super() }}{% endblock %}

{% block content %}

{{ super() }}

{% if team_size < 2 and False %}
<div class="help">
<p><b>Getting started</b>
<ol>
  <li>Use the <a href="#invite">Invite Crew</a> section to invite people to join your crew.
  <li>After people join, select a <a href="#missions">mission</a>.
</ol>
</div>
{% endif %}

<div class="row">
<h1 class="col">{{ editable_text(text=team.name,
                                 is_editable=is_captain,
                                 popup_title="Edit crew name",
                                 table="team", id=team.id, field="name") }}</h1>
</div>

<div class="row" style="display:none">
<div class="col">
<p>{{ editable_text(text=team.description,
                    is_editable=is_captain,
                    multiline=True,
                    popup_title="Edit crew description",
                    table="team", id=team.id, field="description") }}</p>
</p></div>
</div>

<div>
    {% if team_size == 1 %}
    {{ team_size }} crew member
    {% else %}
    {{ team_size }} crew members
    {% endif %}
</div>

<hr/>

<div class="row">
<div class="col-sm-8">
<section>
  <h4>Achievements</h4>
  {% if achievements %}
  {% for achievement in achievements %}
    {% include 'achievement.html' %}
  {% endfor %}
  {% elif is_captain %}
    <em>None yet&mdash;try planning a mission!</em>
  {% else %}
    <em>None yet...</em>
  {% endif %}
</section>
</div>

<div class="col-sm-4">
  <div style='border: 1px solid #9bc1bc; padding: 1rem'>
    <h4 style="margin-top: 0px;">Crew</h4>
    <h6>Captain</h6>
    <div>
        <a href="{{ url_for('profile', user_id=team.captain.id) }}">
            <img src="{{ gravatar(team.captain.email, size=32) }}"  height="32">
        </a>
        <span style="font-size:1.25rem; vertical-align:middle;"> {{ team.captain.name }} </span>
    </div>

    <br/>
    {% if crew|length %}
      <h6>Crew Members</h6>

      {% for user in crew: %}
            <a href="{{ url_for('profile', user_id=user.id) }}">
                <img src="{{ gravatar(user.email, size=32) }}"  height="32">
            </a>
      {% endfor %}
    {% endif %}
    <div style="padding-top:10px">
      <button type="button" class="btn btn-primary" onClick="emailSender.setState('invite');">
          Invite Crew Members
      </button>
    </div>
    <div style="padding-top:10px">
      <p>Invite Link: <span style="color: green" id="inviteCopied"></span></p> 
      <input type="text" value="{{ invite_link }}" id="inviteLink" />
      <button type="button" class="btn btn-info" onClick="copyText('inviteLink', 'inviteCopied');">
        Copy
      </button>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function updateSectionHighlight() {
  var hash = location.hash;
  var invite = $('.invite');
  var missions = $('.missions');
  invite.removeClass('highlight-section');
  missions.removeClass('highlight-section');
  if (hash == '#invite') {
    invite.addClass('highlight-section');
  } else if (hash == '#missions') {
    missions.addClass('highlight-section');
  }
}

$(window).on('hashchange', updateSectionHighlight);
$(document).ready(updateSectionHighlight);
</script>
{% endblock %}
