{% extends "base.html" %}

{% block title %}Dashboard - {{ super() }}{% endblock %}

{% block content %}
<h3>Welcome {{ current_user.name.split(" ")[0] }}! </h3>
{% for team in teams: %}
  <section class="border">
    <h5>Team
    {% if team.captain.id == current_user.id %}
      <a role="button" class="editable" data-title="Edit team name" data-table="team" data-id="{{ team.id }}" data-field="name">{{ team.name }}</a>
    {% else %}
      {{ team.name }}
    {% endif %}
    </h5>
    <h5>Missions</h5>
    {% for mission in missions: %}
      <div>
        <div><a href="{{ url_for('mission', team_id=team.id, mission_id=mission.id) }}">{{ mission.title }}</a></div>
        <div>{{ mission.short_description }}</div>
      </div>
    {% endfor %}
    <a href="{{ url_for('roster', team_id=team) }}" class="btn">Roster</a>
  </section>
{% endfor %}

{% endblock %}
