{% extends "base.html" %}

{% block title %}Missions - {{ super() }}{% endblock %}

{% macro render_mission(mission) -%}
<div class="row mission">

  <div class="col-sm-2">
    {% if mission.is_running %}
        <div style="margin-bottom:0px"> Day {{mission.mission_day}} </div>
        <div style="font-size:14px; "> of {{ mission.duration_in_days}}</div>
    {% elif mission.is_upcoming %}
      T-MINUS<br/>
      {{mission.days_until_start}} days
    {% else %}
      COMPLETED<br/>
      {{ mission.start_time.format('MMMM Do') }}
    {% endif %}
  </div>

  <div class="col-sm-10">
    <h5 style="margin-bottom: 0px">{{ mission.title }} </h5>
    <div><a href="{{ url_for('mission', mission_uuid=mission.uuid) }}">Link</a></div>
    <div><b>Description</b>: {{ mission.short_description }}</div>
    <div><b>Primary Goal</b>: {{mission.primary_goal_str}}</div>
    {% if mission.is_running %}
      <!--button type="button" class="btn btn-link" onClick="emailSender.setState('invite');">
          Email the crew
      </button-->
    {% elif mission.is_upcoming %}
      <div><b>Starts on</b>: {{mission.start_time.format('MMMM Do')}}</div>
      <div><b>Duration</b>: {{mission.duration_in_days}} days</div>
      <div class="mission-actions">
        <button type="button" class="btn btn-link" onClick="emailSender.setState('invite');">
            Invite more crew members
          </button>
          {% if is_captain %}
            <button data-mission-id={{mission.id}} type="button" class="btn btn-link mission-cancel">
              Cancel mission
            </button>
          {% endif %}
      </div>

    {% else %}
      <div> <span style='font-weight: bold'>CO2 Saved</span>: {{mission.co2_saved_str}}</div>
      <div class="mission-actions">
        <a class="btn btn-link" href="{{url_for('debrief', mission_id=mission.id)}}" role="button">Debrief mission</a>
        <a class="btn btn-link" href="{{url_for('report', mission_id=mission.id)}}"  role="button">View mission report</a>
      </div>
    {% endif %}

  </div>
</div>
{%- endmacro %}

{% block content %}
<h3>Welcome <a href="{{ url_for('profile', user_id=current_user.id) }}">{{ current_user.name.split(" ")[0] }}</a>! </h3>

<div class="missions">

  {% if running_missions|length %}
    <div class="missions-section">
      <h3>Active Mission</h3>
      {% for mission in running_missions %}
        {{ render_mission(mission) }}
      {% else %}
        <div>
          <h5>None yet</h5>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="missions-section" id="new-mission">
    <h3>New Mission</h3>
    <p>Select a goal for your new mission

    <div class="accordion" id="accordionExample">
      <div class="card" v-for="(cat_info, category) in goals">
        <div class="card-header" id="heading-{{ category }}">
          <h2 class="mb-0">
            [[ cat_info.title ]]
          </h2>
        </div>

        <div class="card-body">
          <p>
            [[ cat_info.description ]]
          </p>

          <div class="card-deck">
            <div class="card" style="max-width: 18rem;" v-for="goal in cat_info.goals">
              <img :src="goal.icon" class="card-img-top" alt="goal.alt">
              <div class="card-body">
                <h5 class="card-title"> [[ goal.name ]] </h5>
                <p class="card-text">
                  [[ goal.description ]]
                </p>

                <p>
                  Read more at:
                  <ul>
                    <li v-for="link in goal.links">
                      <a :href="link.url">[[ link.title ]]</a>
                    </li>
                  </ul>
                </p>

                <div class="card-footer text-right">
                  <form method="POST" action="/mission/create" class="form-row">
                    <input type="hidden" name="category" :value="category" />
                    <input type="hidden" name="goal" :value="goal.name" />
                    <input type="hidden" name="csrf_token" :value="csrfToken" />

                    <button type="submit" class="btn btn-primary">Create Mission</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {% if upcomming_missions|length %}
  <div class="missions-section">
    <h3>Upcoming Mission</h3>
    {% for mission in upcoming_missions %}
      {{ render_mission(mission) }}
    {% endfor %}
  </div>
  {% endif %}

  {% if completed_missions|length %}
  <div class="missions-section">
    <h3>Completed Missions</h3>
    {% for mission in completed_missions %}
      {{ render_mission(mission) }}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(".mission-cancel").click((e) => {
  if (confirm("Are you sure?")) {
    $.post('/mission/'+$(e.target).data('mission-id')+'/cancel').done((json) => {
      if (json['error']) {
          alert(json['error']);
      }
      window.location.reload();
    });
  }
});
</script>

<script>
  const goals = {{ goals | tojson }};
  const missionCreator = new Vue({
    el: '#new-mission',
    delimiters: ['[[', ']]'],
    data: {
      csrfToken: window.csrfToken,
      goals,
    },
    computed: {
      goalSelected: function() { return this.goal === null; }
    },
  });
</script>
{% endblock %}
