{% extends "base.html" %}

{% block title %}Dashboard - {{ super() }}{% endblock %}

{% block content %}
<h3>Welcome <a href="{{ url_for('profile', user_id=current_user.id) }}">{{ current_user.name.split(" ")[0] }}</a>! </h3>
{% for team in teams: %}
  <section class="dash-team">
    <h5>{{ team.name }}</h5>
    <div>
    {% if not team.mission_id %}
      <em>No current mission</em>
    {% else %}
        <div><a href="{{ url_for('mission', team_id=team.id, mission_id=team.mission_id) }}">{{ team.mission.title }}</a></div>
        <div>{{ team.mission.short_description }}</div>
    {% endif %}
    </div>
    <a href="{{ url_for('roster', team_id=team) }}" class="btn btn-primary" role="button">Crew Page</a>
  </section>
{% endfor %}

<div class="row">
<div class="ml-auto col-auto">
<form method="POST" action="/create_crew" class="needs-validation" novalidate>
  {% set form = create_crew %}
  {% include 'form_fields.html' %}
</form>
</div>
</div>

{% endblock %}
