{% extends "base.html" %}

{% block title %}Join - {{ super() }}{% endblock %}

{% block content %}

<h3>
  <span class="font-weight-bold">{{ invitation.inviter.name }}</span>
  invited you to join
  <span class="font-weight-bold">{{ invitation.team.name }}</span>!
</h3>

<section>
  <h5>People who already joined</h5>
  <ul class="crew-list">
    {% for user in invitation.team.members %}
    <li class="crew-list-item">
      <img
        class="profile-pic"
        src="{{ gravatar(user.email, size=48) }}"
        width="48"
        height="48"
      />
      {{ user.name }}
      {% endfor %}
    </li>
  </ul>
</section>

<section>
  <h5>Yes, sign me up!</h5>
  {% if register %}
  {% include 'social-buttons.html' %}
  <div class="row justify-content-center">
    <section class="help col-md-5">
      <h5 class="text-center">...or, register manually</h5>
      <form method="POST" class="needs-validation" novalidate>
        {% set form = register %} {% include 'form_fields.html' %}
      </form>
    </section>
  </div>

  {% else %}
  <form method="POST" class="needs-validation" novalidate>
    {% set form = accept %} {% include 'form_fields.html' %}
  </form>
  {% endif %}
</section>

{% endblock %}
