{% for field in form %}
  {% set errors = form.errors[field.name] %}
  {% if field.flags.hidden %}
    {{ field(class="form-control") }}
  {% elif field.type == "SubmitField" %}
    {{ field(class="btn btn-primary btn-block") }}
  {% else %}
    {% if errors %}
    {% set class="form-control is-invalid" %}
    {% else %}
    {% set class="form-control" %}
    {% endif %}

    <div>
      <span>{{ field.label() }}</span>
    </div>
    <div class="form-box">
      <span>
      {{ field(class=class) }}
      <div class="invalid-feedback">
        {{ ';'.join(errors) }}
      </div>
      </span>
    </div>
  {% endif %}
{% endfor %}
