{% set pledged   = goal.id in my_pledges %}
{% set fulfilled = my_pledges[goal.id].fulfilled if pledged else False %}
{% set active = week_of_mission > 0 and week_of_mission <= 4 and week_of_mission >= goal.week %}

<div class="goal{% if active %} active-goal{% endif %}" data-goal="{{ goal.id }}">
  <div>{{ goal.short_description }}</div>
  {% if active %}
  <div class="goal-progress-wrapper"
       data-update-url="{{ url_for('goal_progress', team_id=team.id, goal_id=goal.id, start_at=team.mission_start_at) }}">
    {% set progress = goal_progress[goal.id] %}
    {% set my_pledge_id = my_pledges[goal.id].id if pledged else -1 %}
    {% include "goal_progress.html" %}
  </div>
  <div class="row">
    <div class="pledge-controls col-auto ml-auto {{ 'pledged' if pledged else 'nonpledged' }}">
      <a href="#" class="pledge btn btn-primary" role="button">Pledge</a>
      <label class="done-label form-check-label">
        <input type="checkbox"
               class="done form-check-input" 
               {% if fulfilled %}checked{% endif %}>Done
      </label>
    </div>
  </div>
  {% endif %}
</div>
