{% if progress.num_active > 0 %}
<div class="goal-progress" data-my-pledge="{{ my_pledge_id }}">
  {% if progress.done|length > 0 %}
  <div>Done ({{ progress.done|length }}):
    <div class="user-list">
    {% for user in progress.done %}
      <a href="{{ url_for('profile', user_id=user.id) }}">
        <img class="profile-pic" src="{{ gravatar(user.email, size=40) }}" width="40" height="40">
      </a>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if progress.pledged|length > 0 %}
  <div>Pledged ({{ progress.pledged|length }}):
    <div class="user-list">
    {% for user in progress.pledged %}
      <a href="{{ url_for('profile', user_id=user.id) }}">
        <img class="profile-pic" src="{{ gravatar(user.email, size=40) }}" width="40" height="40">
      </a>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if progress.num_inactive > 0 %}
  <div>No response: {{ progress.num_inactive }}</div>
  {% endif %}
</div>
{% else %}
<em>Nobody pledged for this yet.</em>
{% endif %}
