{% set pledged   = goal.id in my_pledges %}
{% set fulfilled = my_pledges[goal.id].fulfilled if pledged else False %}
{% set pledge_id = my_pledges[goal.id].id        if pledged else -1 %}

<div class="goal">
  <div>{{ goal.short_description }}</div>
  <div class="pledge-controls row">
    <div class="col-auto ml-auto {{ 'pledged' if pledged else 'nonpledged' }}">
      <a href="#" class="pledge btn" data-goal="{{ goal.id }}">Pledge</a>
      <label class="done-label form-check-label">
        <input type="checkbox"
               class="done form-check-input" 
               data-pledge="{{ pledge_id }}"
               {% if fulfilled %}checked{% endif %}>Done
      </label>
    </div>
  </div>
</div>
