{% set pledged   = goal.id in my_pledges %}
{% set fulfilled = my_pledges[goal.id].fulfilled if pledged else False %}

<div class="goal" data-goal="{{ goal.id }}">
  <div>{{ goal.short_description }}</div>
  <div class="goal-progress"
       data-update-url="{{ url_for('goal_progress', team_id=team.id, goal_id=goal.id) }}">
    {% set progress = goal_progress[goal.id] %}
    {% set my_pledge_id = my_pledges[goal.id].id if pledged else -1 %}
    {% include "goal_progress.html" %}
  </div>
  <div class="row">
    <div class="pledge-controls col-auto ml-auto {{ 'pledged' if pledged else 'nonpledged' }}">
      <a href="#" class="pledge btn">Pledge</a>
      <label class="done-label form-check-label">
        <input type="checkbox"
               class="done form-check-input" 
               {% if fulfilled %}checked{% endif %}>Done
      </label>
    </div>
  </div>
</div>
