{% extends "base.html" %}

{% block title %}Log In - {{ super() }}{% endblock %}

{% block content %}
<h3>Log in (returning users)</h3>

<p><a href="/google/login">Sign in with Google</a>

<section>
<form method="POST" class="needs-validation" novalidate>
  {% for field in login %}
  {% set errors = login.errors[field.name] %}
  {% if field.flags.hidden %}
    {{ field(class="form-control") }}
  {% elif field.type == "SubmitField" %}
    {{ field(class="btn btn-primary") }}
  {% else %}
    {% if errors %}
    {% set class="form-control is-invalid" %}
    {% else %}
    {% set class="form-control" %}
    {% endif %}

    <div class="row">
      <span class="col-md-3">{{ field.label() }}</span>
    </div>
    <div class="row form-box">
      <span class="col-md-6">
      {{ field(class=class) }}
      <div class="invalid-feedback">
        {{ ';'.join(errors) }}
      </div>
      </span>
    </div>
  {% endif %}
  {% endfor %}
</form>
</section>

{% endblock %}
