{% extends "base.html" %}

{% block title %}Current Mission - {{ super() }}{% endblock %}

{% block content %}

<h3>Our First Mission: Plant-based Diet</h3>
<p> Welcome to our first mission! To complete this mission, you and your fellow crew members
    will take new actions every week.
<ul>
<li>Week 1: At a restaurant, order a plant-based meal instead of meat.</li>
<li>Week 2: Cook a meal for yourself with a plant-based meat substitute (tofu sausage, etc)</li>
<li>Week 3: Cook a plant-based meal for yourself and your friends/family.</li>
<li>Week 4: ?????</li>
</ul>
</p>

<p>To have an even greater impact on emissions, unlock these bonus achievements:
    <ul>
        <li>Cook a plant-based meal for yourself and friends/family</li>
        <li>Make a plant-based protein replacement like seitan</li>
        <li>Go out to a vegan/vegetarian restaurant</li>
    </ul>
</p>

{% endblock %}
