{% extends "base_with_quill.html" %}

{% block title %}Mission - {{ super() }}{% endblock %}

{% block content %}

{{ super() }}
    {%if not current_user.name or not is_team_member %}
    <div class="card text-white bg-primary mb-3">
      <div class="card-body">

        <p class="card-text">
          {{team.captain.name}} has invited you to their mission.
        </p>

        <button class="btn btn-primary">Join mission</button>
      </div>
    </div>
    <br/>
    {%endif%}

        <h1 class="card-title">Mission: {{ goal.name }} </h1>

<div>
  <h3>
    Overview
  </h3>

  <!--img src='{{goal.icon}}' style="height:200px;" class="card-img-top" alt="..."-->


    <p>
      {{goal.description }}
    </p>

    <p>
      Read more at:
      <ul>
        {% for link in goal.links %}
          <li>
            <a href="{{link.url}}">{{link.title}}</a>
          </li>
        {% endfor %}
      </ul>
    </p>
</div>

<div>
  <h3>
    The plan
  </h3>
    <p class="card-text">
      Our mission starts in <b>{{mission.days_until_start}} days</b>, on {{mission.start_time_str}} and will be one week long. </p>
    </p>
    <p class="card-text">
      Our goal is to {{goal.short_description}} for the week. Every day there will be a reminder sent to the team and you will be able to share photos and updates with your team throughout the day!
    </p>
    <p class="card-text">
      At the end of the week we'll share a wrap-up with some information on the impact of the mission.
    </p>
    {% if team.captain == current_user %}
      <button class="btn btn-link">Reschedule </button>
      <button class="btn btn-link">Cancel </button>
   {% endif %}
</div>
<br/>
<div class="card">
  <div class="card-body">
    <h3 class="card-title"> Team </h5>
  </div>

  <ul class="list-group list-group-flush">
    {% for user in team.members: %}
      <li class="list-group-item">
        <a href="{{ url_for('profile', user_id=user.id) }}">
        <img src="{{ gravatar(user.email, size=32) }}" height="32"
        style="border-radius:32px; border: 1px solid #eee; margin-right:10px"> </a>
        {{user.name}} {{'(captain)' if user == team.captain else ''}}
      </li>
    {% endfor %}
  </ul>

  <div class="card-body">
    <p class="card-text">
    Invite link: <input type="text" value="{{ invite_link }}" id="inviteLink" style="width:350px" />
    <button type="button" class="btn btn-info" onClick="copyText('inviteLink', 'inviteCopied');">
      Copy
    </button>
    </p>
    <button class="btn btn-secondary">Message The Team</button>
  </div>
  <br/>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
