{% extends "base.html" %}

{% block title %}Mission - {{ super() }}{% endblock %}

{% block content %}
<h3>{{ mission.title }}</h3>
{% if week_of_mission > 0 and week_of_mission <= 4 %}
<p>Currently active, in week {{ week_of_mission }}!
{% else %}
<p>Not currently active.
{% endif %}

{% if is_captain and not team.mission %}
<p>Commit your team to this mission for one month?
<form method="POST" class="needs-validation" novalidate>
  {% for field in start_mission %}
  {% set errors = start_mission.errors[field.name] %}
  {% if field.flags.hidden %}
    {{ field(class="form-control") }}
  {% elif field.type == "SubmitField" %}
    {{ field(class="btn btn-primary") }}
  {% else %}
    {% if errors %}
    {% set class="form-control is-invalid" %}
    {% else %}
    {% set class="form-control" %}
    {% endif %}

    <div class="row">
      <span class="col-3">{{ field.label() }}</span>
    </div>
    <div class="row form-box">
      <span class="col-6">
      {{ field(class=class) }}
      <div class="invalid-feedback">
        {{ ';'.join(errors) }}
      </div>
      {{ field.description }}
      </span>
    </div>
  {% endif %}
  {% endfor %}
</form>
{% endif %}

<section class="primary">
<h4>Primary Objectives</h4>
{% for week in range(1,5): %} 
<h5>Week {{ week }}</h5>
{% for goal in mission.goals: %}
{% if goal.week == week and goal.primary_for_mission %}
{% include "goal.html" %}
{% endif %}
{% endfor %}
{% endfor %}
</section>

<section class="bonus">
<h5>Bonus</h5>
{% for goal in mission.goals: %}
{% if not goal.primary_for_mission %}
{% include "goal.html" %}
{% endif %}
{% endfor %}
</section>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function updateProgress(goalDiv) {
  var progress = goalDiv.find('.goal-progress');
  var updateUrl = progress.data('update-url')
  $.ajax(updateUrl).done(function(html) {
    $(progress).html(html);
  });
}

$('.pledge').click(function() {
  var goalDiv = $(this).parents('.goal');
  $.post('/pledge', {
    'goal_id': goalDiv.data('goal')
  }).done(function(json) {
    if (json['ok']) {
      var pledgeControls = goalDiv.find('.pledge-controls');
      pledgeControls.removeClass('nonpledged').addClass('pledged');
      updateProgress(goalDiv);
    }
  });
  return false;
});

$('.done').click(function() {
  var goalDiv = $(this).parents('.goal');
  var progressDiv = goalDiv.find('.progress');
  var pledgeId = progressDiv.data('my-pledge');
  var checked = $(this).prop('checked');
  $.post('/edit', {
    'table': 'pledge',
    'field': 'fulfilled',
    'id': pledgeId,
    'value': checked
  }).done(function(json) {
    if (json['ok']) {
      updateProgress(goalDiv);
    }
  });
});
</script>
{% endblock %}
