{% extends "base.html" %}

{% block title %}Profile - {{ super() }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col">
    <a href="https://www.gravatar.com">
      <img src="{{ gravatar(user.email, size=80) }}" width="80" height="80">
    </a>
  </div>
  <div class="col-10">
    <h1>
      {% if can_edit %}
        <a role="button" class="editable" data-title="Edit name" data-table="user" data-id="{{ user.id }}" data-field="name">{{ user.name }}</a>
      {% else %}
        {{ user.name }}
      {% endif %}
    </h1>
    <div>
      {# {% if can_edit %}
        <a role="button" class="editable" data-title="Edit email" data-table="user" data-id="{{ user.id }}" data-field="email">{{ user.email }}</a>
      {% else %} #}
        {{ user.email }}
      {# {% endif %} #}
    </div>
  </div>
</div>

{% endblock %}
