{% from 'editable.html' import editable_text %}
{% extends "base.html" %}

{% block title %}Profile - {{ super() }}{% endblock %}

{% block content %}
<section>
<div class="row">
  <div class="col-auto">
    <a href="https://www.gravatar.com">
      <img class="profile-pic" src="{{ gravatar(user.email, size=80) }}" width="80" height="80">
    </a>
  </div>
  <div class="col">
    <h1>{{ editable_text(text=user.name,
                         is_editable=can_edit,
                         popup_title="Edit name",
                         table="user", id=user.id, field="name") }}</h1>
    <div>{{ user.email }}</div>
  </div>
</div>
</section>

<section>
<div class="row">
  <div class="col">Joined {{ user.created_at }}</div>
</div>
</section>

<section>
<h5>Achievements</h5>
{% if achievements %}
{% for achievement in achievements %}
{% include 'achievement.html' %}
{% endfor %}
{% elif can_edit  %}
<em>None yet... try pledging for a mission goal!</em>
{% else %}
<em>None yet...</em>
{% endif %}
</section>
{% endblock %}
