{% extends "base.html" %}

{% block title %}Register - {{ super() }}{% endblock %}

{% block content %}
<h3>Spaceship Earth needs you to become a captain!</h3>

<section>
<form method="POST" class="needs-validation" novalidate>
{% set form = register %}
{% include 'form_fields.html' %}
</form>
</section>

<section>
<p>Captaining is the biggest contribution you can make to this project.
Maximizing the environmental sustainability of your personal choices is
fantastic, but one human can only do so much. By signing up to be a captain,
you can grow your impact with the number of people you invite.

<p>We provide
<ul>
  <li>a list of actions, supported by the best available research
  <li>tools and recommendations to help you coordinate and encourage your crew
  <li>compelling visualizations to track and celebrate your impact
</ul>

<p>We also give you a reason&mdash;a pretext, maybe even an excuse&mdash;to
have hard conversations about unsustainable, short-sighted social norms like
consumerism, meat-eating, and frequent plane travel and the facts to justify
your stance. The more of us are visibly committed to this project, the easier
it becomes for others to join. This is how we start to make a difference on
climate change together.

<p>We need to know your name and email so we can tell your friends who you are
when you invite them to join your crew. (We promise not to spam you.)

</section>

{% endblock %}
