<div id="overlay-background" class="close-overlay"></div>
<div id="overlay" class="overlay-container">
  <div class="icon"><img src="/static/sship-152.png"></div>
  <p class="overlay-title">Commence primary ignition...</p>
  <p class="overlay-desc">Thanks for checking out our very first version of <b>Spaceship Earth</b>! We're in the process of building a community planning tool for groups of friends who want to do something about climate change.</p>
  <p class="overlay-desc">You may notice a few things are rough around the edges and many aspects of the site will certainly change in the future. We'd love your <a href="/contact">help and feedback</a>!</p>
  <div class="close-button">
    <a id="close-overlay" class="close-overlay" href="#">Check it out</a>
  </div>
</div>
