Click==7.0
Flask==1.0.2
Flask-Login==0.4.1
gunicorn==19.9.0
invoke==1.2.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
peewee==3.9.3
peewee-moves==2.0.1
pendulum==2.0.4
pip-tools==3.4.0
PyMySQL==0.9.3
python-dateutil==2.8.0
pytzdata==2018.9
six==1.12.0
Werkzeug==0.15.1
