/*
  Here is a base palette for inspiration, sort of southwestern.
  terra cotta    #ed6a5a
  blond          #f4f1bb
  cambridge blue #9bc1bc
  cadet blue     #5ca4a9
  platinum       #e6ebe0
*/
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #e6ebe0;
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
}

.footer a {
  text-decoration: underline;
}

.navbar {
  background-color: #9bc1bc;
  margin-bottom: 32px;
}

section {
  margin: 32px 0;
}

main {
  padding-bottom: 8px;
}

.btn-primary {
  border-color: #ed604e;
  background-color: #ed6a5a;
}

.form-box {
  margin-bottom: 16px;
}

.splash-banner {
  padding: 64px 0 8px 0;
}

.splash-title {
}

.splash-tag {
}

.splash-stat {
  font-size: 150%;
}

.editable {
  cursor: pointer;
}
.edit-icon {
  font-size: 75%;
  vertical-align: text-top;
}

.profile-pic {
  background: #ccc;
}

.achievement {
  padding: 5px 0;
}
.achievement-pic {
  background: #ccc;
  border: 3px #ccc;
  border-radius: 8px;
}

.cal-week-0 {
  background: #9bc1bc;
}
.cal-week-1 {
  background: #9bc1bc;
}
.cal-week-2 {
  background: #9bc1bc;
}
.cal-week-3 {
  background: #9bc1bc;
}
.cal-today {
  background: #f4f1bb;
  font-weight: bold;
  outline: 1px solid #000;
}
.cal-this-week {
  background: #f4f1bb;
}

.dash-team {
  background: #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
}

.goal {
  background: #ccc;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  min-height: 100px;
}
.goal-category {
  font-size: 80%;
  position: relative;
  top: -10px;
  left: -4px;
  font-style: italic;
}
.goal-header::before {
  content: "";
  display: block;
  position: relative;
  left: -10px;
  top: -10px;
  border-top-left-radius: 4px;
  width: 25%;
  height: 8px;
}
[data-category="diet"].goal-header::before {
  background: #090;
}
[data-category="energy"].goal-header::before {
  background: #900;
}

.active-goal {
  background: #fff;
  border: 1px solid #ccc;
}

.help {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 16px;
}

.nonpledged .done-label {
  display: none;
}
.pledged .pledge {
  display: none;
}

.highlight-section {
  background: #f4f1bb;
  padding: 5px;
}

.goal-progress {
  font-size: 80%;
}

.edit-controls {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
  margin: 8px;
  margin-bottom: 0px;
  background-color: #d0adad;
}
.edit-controls .btn {
  margin: 2px;
}
.make-goal-primary {
  display: none;
}
[data-week="1"] .move-goal-up {
  display: none;
}
[data-week="0"] .make-goal-primary {
  display: block;
}
[data-week="0"] .make-goal-secondary,
[data-week="0"] .move-goal-up,
[data-week="0"] .move-goal-down {
  display: none;
}
.unscheduled .remove-goal,
.unscheduled .move-goal-up,
.unscheduled .move-goal-down {
  display: none;
}
.unscheduled .make-goal-primary,
.unscheduled .make-goal-secondary {
  display: block;
  margin-left: 0!important;
}
.focused-goal {
  background: #f4f1bb;
}
